.catalogue {
    h2 {
        font-family: $font-Lobster;
        font-size: 3em;
        text-align: center;
        margin: 40px 0;
    }
    .btn-primary {
        background-color: $orange-dark !important;
        border-color: $orange-dark !important;
        &:hover {
            background-color: $link-hover !important;
            border-color: $link-hover !important;
        }
    }
    .card {
        font-family: $font-Arimo;
        h5 {
            font-family: $font-Quicksand;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 576px) {
    .catalogue {
        h2 {
            font-size: 2.5em;
        }
        .card {
            margin: 10px auto
        }
    }
}