.formulaire {
    h4 {
        padding: 40px 0;
        text-align: center;
        font-size: 3em;
    }
    form {
        padding: 35px 0;
        text-align: center;
    }
    p {
        padding: 20px 0;
    }
}