header {
    h1 {
        text-align: start;
        font-size: 1.8em;
        margin-left: 2%;
        color: $link-hover;
        span {
            font-size: 0.7em;
            color: $smoke;
        }
    }
    .background {
        height: 40vh;
        background-image: url('/assets/img/background.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .nav-link {
        padding: 0;
    }
    .navigation {
        @extend .d-flex, .align-items-center;
        text-align: end;
        height: 8vh;
        background-color: $gray-dark;
        ul {
            margin-left: 40%;
            li {
                padding: 10px;
            }
            a{
                color: $smoke;
                &:hover {
                    color: $link-hover;
                }
            }
        }
    }
}
main {
    .presentation {
        margin: 100px 0 0 80px;
        .image {
            position: relative;
            height: auto;
            width: auto;
            img {
                @extend .img-fluid;
                max-width: 100%;
            }
            span {
                @extend .d-flex, .justify-content-center;
                position: absolute;
                font-size: 1.5em;
                color: $smoke;
                top: 80%;
                left: 16%;
            }
        }
        .content {
            @extend .d-flex, .align-items-center;
            margin-top: 20%;
            padding: 8% 10px;
            text-align: justify;
            height: inherit;
            color: $smoke;
            background-color: $gray-medium;
            border-radius: 10px;
        }
        .presentation_site{
            font-size: 1.8em;
            width: auto;
            padding: 30px;
            text-align: justify;
        }
    }
    .mon_caroussel {
        margin: 0 20px;
        border: 2px solid black;
        border-radius: 10px;
        img {
            @extend .img-fluid;
            max-width: 100%;
        }
    }
}
footer {
    ul {
        text-align: center;
        margin: 30px 20px;
        background-color:$gray-medium;
        padding: 20px;
        border-radius: 10px;
        li {
            display: inline;
            padding: 30px;
            a{
                color: $smoke;
                &:hover{
                    color: $link-hover;
                }
            }
        }
    }
    .mention {
        text-align: center;
        font-size: 0.7em;
        
    }
}